.projectTitle {
    @include lg {
        text-align: center;
    }
}

.aboutCard {
    width: 100%;
    flex: 45%;
    position: relative;
    height: fit-content;

    transition: 0.25s ease-in-out;

    @include md {
        flex: 0 0 100%;
    }

    &:hover {
        background-color: var(--neutral100);

        transform: translateY(-4px);
    }
}
