.footer {
    width: 100%;

    &__author {
        @include text-gradient;

        background-image: linear-gradient(
            to right,
            var(--primary500),
            var(--secondary700)
        );
    }
}

.links {
    @include md {
        flex-direction: column !important;
    }
}

.socials {
    @include md {
        padding-top: 1rem;
        justify-content: flex-end !important;
        flex-direction: row-reverse !important;
    }
}
