.modalWrapper {
    position: fixed;
    z-index: 4;
    inset: 0;

    background: rgba(var(--neutral800RGB), 0.2);

    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    position: relative;
    width: 60vw;

    @include table-shadow;

    @include xl {
        width: 70vw;
    }

    @include lg {
        width: 80vw;
    }

    @include md {
        width: 90vw;
    }

    @include sm {
        width: 95vw;
    }
}
