.projects {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    @include md {
        justify-content: center;
    }

    align-items: left;
    margin-top: rem(45);
    gap: rem(25);

    button {
        border-radius: 10px;
        background: $primary-100;
        padding: rem(10) rem(16);
    }
}