.slogan {
    margin-bottom: rem(10);

    @include md {
        text-align: center;
        margin: rem(10) auto;
    }
}

.title {
    @include md {
        text-align: center;
        margin: auto;
    }
}

.subtitle {
    @include md {
        text-align: center;
        margin: auto;
    }
}

.description {
    margin-top: rem(20);
    max-width: 40%;

    @include md {
        text-align: center;
        margin: rem(20) auto;
        max-width: 80%;
    }
}