@keyframes move-bg {
    from {
        background-position: var(--bg-size) 0;
    }
    to {
        background-position: var(--bg-size) 400;
    }
}

.gradient__bg {
    background: linear-gradient(
        to right,
        rgba(var(--primary100RGB), 0.25),
        rgba(var(--secondary100RGB), 0.25)
    );
}

.hero {
    &__splash {
        margin-left: auto;

        @include lg {
            margin-left: 0 !important;
            text-align: left !important;
        }
    }

    h1 {
        text-align: left;
    }

    &__highlight {
        --bg-size: 400%;
        --color1: #2eaef6;
        --color2: #7a88d3;
        --color3: #d47aff;

        background: linear-gradient(
                to right,
                var(--color1),
                var(--color2),
                var(--color3),
                var(--color1)
            )
            0 0 / var(--bg-size) 100%;

        animation: move-bg 8s infinite linear;

        @include text-gradient;
    }

    @include lg {
        gap: $spacing-7 !important;
        margin-left: $spacing-4;
    }
}

.subHero {
    @include lg {
        flex-direction: column-reverse !important;
        gap: $spacing-7 !important;
        align-items: flex-start !important;
    }

    &__links {
        @include lg {
            flex-direction: column-reverse !important;
            align-items: flex-start !important;
        }
    }
}

.projectTitle {
    @include lg {
        text-align: center;
    }
}
